<ul>
  {{#each model as |committee|}}
    {{#if (eq committee.chamber "senate")}}
      <li>
        {{#link-to 'subcommittee' committee.committee_id}}
        {{committee.name}}
        {{/link-to}}
      </li>
      {{/if}}
  {{/each}}
</ul>
