<ul>
  {{#each model as |committee|}}
    <li>{{committee.chamber}}</li>
    {{#link-to 'senate-subcommittees' committee.parent_committee_id}}<li>{{committee.name}}</li>{{/link-to}}
  {{/each}}
</ul>
